<div>
  <div id="players"
    data-game-name="<%= @game_name %>"
    data-auth-token="<%= @auth_token %>"
  >

  <%= form_for @conn, Routes.game_path(@conn, :create), [as: :game], fn _ -> %>
    <%= submit "Start game", class: "btn btn-primary" %>
  <% end  %>

  <br>

  <%= link "Exit", to: Routes.session_path(@conn, :delete), method: :delete %>
</div>
